<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Page</title>
        <link rel="stylesheet" href="/styles.css">


    </head>
    <body>

 <header>

            <div class="header-content">
                <div class="logo">
                    <h1>Baby Health Tracker</h1>
                </div><br>
                <nav>
                    <ul class="nav-links">
                        <li><a href="/">Home</a></li>
                        <li><a href="/features">Features</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </nav>
                <div class="button-group">
                    <a href="/login" class="btn">Log In</a>

                    <a href="/addUser" class="btn">Sign Up</a>
                 </div>
            </div>
        </header>
        <br>
        <div class="login_container">

            <legend>Login</legend>
            <form>
                <label for="txtUserName">User Name:</label>
                <input type="text" id="txtUserName" required>

                <label for="txtPassword">Password:</label>
                <input type="password" id="txtPassword" required>
                <button type="button" class="button" id="btn" onclick="togglePassword();">Show</button>

                <button type="button" class="button" onclick="displayPassword();">Submit</button>
            </form>
        <p id="myOutput"></p>

        </div>
        
        <script>
            var bShow = false;

            function togglePassword() {
                if (!bShow) {
                    bShow = true;
                    document.getElementById("txtPassword").setAttribute("type", "text");
                } else {
                    bShow = false;
                    document.getElementById("txtPassword").setAttribute("type", "password");
                }
            }
        </script>
    </body>
</html>
