<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Page</title>
        <link rel="stylesheet" href="/styles.css">


    </head>
    <body>

        <header>
            <div class="header-content">
                <div class="logo">
                    <h1><a href="/" style="text-decoration: none; color:  white;">Baby Health Tracker</a></h1>
                </div><br>
                <nav>
                    <ul class="nav-links">
                        <li><a href="/">Home</a></li>
                        <li><a href="/features">Features</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </nav>
                <div class="button-group">
                    <a href="/login" class="btn">Log In</a>
                    <a href="/addUser" class="btn">Sign Up</a>
                    </div>
            </div>
        </header>


        <br><br>
        <div class="login_container">

            <legend>Login</legend>

            <form action="/babyLog" method="get">

                <% if (error) { %>
                    <p style="color: red;" class="text-danger mt-3"><%= error === 'invalid_credentials' ? 'Invalid username or password' : '' %></p>
                    <br>
                <% } %>

                <label for="username">User Name:</label>
                <input type="text" id="username" name="username" required>


                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>



                <button type="submit" class="button">Submit</button>

            </form>

        </div>

  <footer>
        <p>&copy; 2023 Baby Health Tracker | Helping parents give the best care</p>
  </footer>

    </body>
</html>
